html, body, figure {
  padding: 0;
  border: 0;
  margin: 0;
}

@mixin collapsed-sidebar() {
  padding: 0;
  min-width: 3rem;
  
  .sidebar-expanded {
    display: none;
  }
}

@mixin expanded-sidebar {
  padding: 3rem;
  min-width: 350px;

  .sidebar-expanded {
    display: block;
  }
}

.d-flex { display: flex; }
.flex-col { flex-direction: column; }

figure {
  background-color: #0C0C0C;
  color: white;
  display: flex;
  height: 100vh;
  overflow-y: hidden;

  img {
    display: block;
    height: 100vh;
    width: auto;
    min-width: 0; /* allow flex-shrink */
    object-fit: cover;
  }

  .sidebar {
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;

    @include collapsed-sidebar;
    
    @media(min-width: 700px) {
      @include expanded-sidebar;
    }
  }

  /* Hide scrollbar on chrome, safari, opera */
  .sidebar::-webkit-scrollbar {
    display: none;
  }
}

/* Only displayed on expanded sidebar */
#caption {
  max-width: 500px;
  text-align: left;
  color: #707070;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

#expanded-nav {
  position: fixed;
  margin: 0 -3rem;
  padding: 0 3rem;
  min-height: 64px;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: #0C0C0C;
  line-height: 64px;
}